<div id="vue-instance">
    <input type="text" v-model="Sender" placeholder="Sender">
    <br>
    <textarea v-model="Numbers" placeholder="Numbers"></textarea>
    <br>
    <textarea v-model="Message" placeholder="Message"></textarea>
    <br>
    <button v-on:click="SendMessage">Send</button>
  </div>
  
  <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
  
  <script>
    var vm = new Vue({
      el: '#vue-instance',
      data: {
        Sender: '',
        Numbers: '',
        Message: ''
      },
      methods: {
        SendMessage: function(){
          this.$http.get('https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js', function(v1users)
                {
                    //this.$set('v1_user',v1users);//setting result to a variable 
                    alert('Message Sent, ' + this.Sender);
                });
        },
      }
    });
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>