<div id="vue-instance">
    <input type="text" v-model="Sender" placeholder="Sender">
    <br>
    <textarea v-model="Numbers" placeholder="Numbers"></textarea>
    <br>
    <textarea v-model="Message" placeholder="Message"></textarea>
    <br>
    <button v-on:click="SendMessage">Send</button>
  </div>
  
  <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
  
  <script>
    var vm = new Vue({
      el: '#vue-instance',
      data: {
        Sender: '',
        Numbers: '',
        Message: ''
      },
      methods: {
        SendMessage: function(){
          alert('Sending');
          this.$http.get('http://nodejs-mongo-persistent-holdem1.4b63.pro-ap-southeast-2.openshiftapps.com/testseq', function(v1users)
                {
                    //this.$set('v1_user',v1users);//setting result to a variable 
                    alert('Message Sent, ' + this.Sender);
                });
        },
      }
    });
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>

<style>
  .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
</style>

<input type="file" id="files" name="files[]" multiple />
<output id="list"></output>

<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('text.*')) {
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
          document.getElementById('list').insertBefore(span, null);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>