<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<div id="vue-instance">
    <input type="text" v-model="Sender" placeholder="Sender">
    <br>
    <textarea v-model="Numbers" placeholder="Numbers"></textarea>
    <br>
    <textarea v-model="Message" placeholder="Message"></textarea>
    <br>
    <button v-on:click="SendMessage">Send</button>
    <v-btn color="info">Info</v-btn>
  </div>
  <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
  <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.1.0-alpha.3/vuetify.min.js"></script>

  <script>
    var vm = new Vue({
      el: '#vue-instance',
      data: {
        Sender: '',
        Numbers: '',
        Message: ''
      },
      methods: {
        SendMessage: function(){
          alert('Sending');
          this.$http.get('http://nodejs-mongo-persistent-holdem1.4b63.pro-ap-southeast-2.openshiftapps.com/testseq', function(v1users)
                {
                    //this.$set('v1_user',v1users);//setting result to a variable 
                    alert('Message Sent, ' + this.Sender);
                });
        },
      }
    });
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>

<div id="drop_zone">Drop files here</div>
<output id="list"></output>

<script>
  function handleFileSelect(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    var files = evt.dataTransfer.files; // FileList object.

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '</li>');
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
  }

  // Setup the dnd listeners.
  var dropZone = document.getElementById('drop_zone');
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect, false);
</script>